<div class="nav" >
  <div class="nav-a">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/login">Логин</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="/registration">Регистрация</a></li>
      </ol>
    </nav>
  </div>
  <br>
  <h1>Добро пожаловать!</h1>
</div>
