<form>
    <h5 class="card-title">{{theme}}Название темы</h5>
    <p class="card-text">{{question}}Вопрос
    </p>
    <input type="text">
    <br>
    <button>Отправить</button>
  </div>
</div>
</form>