
  

#windows {
  display: flex;
  
  justify-content: center;
  align-items: center;
  
  text-align: center;
  color: aliceblue;
     background: url(./game.gif); 
      background-size: cover ;
      margin-top: 12%;

}

.main-page {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20vh;
}

.card {
  width: 250px;
  height: 350px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center

}
